## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,74.91,76,100,15.12,light rain
1,1,Sabang,ID,5.8933,95.3214,82.83,81,100,21.65,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,73.56,83,20,8.05,few clouds
3,3,New Norfolk,AU,-42.7826,147.0587,45.90,82,44,2.68,scattered clouds
4,4,Pisco,PE,-13.7000,-76.2167,65.01,77,15,10.36,haze

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
temp_criteria_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
temp_criteria_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,74.91,76,100,15.12,light rain
1,1,Sabang,ID,5.8933,95.3214,82.83,81,100,21.65,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,73.56,83,20,8.05,few clouds
6,6,Isangel,VU,-19.5500,169.2667,73.81,84,12,8.05,few clouds
11,11,Butaritari,KI,3.0707,172.7902,81.27,79,26,13.80,scattered clouds
12,12,Turbat,PK,26.0023,63.0440,85.01,77,68,6.08,light rain
15,15,Albany,US,42.6001,-73.9662,78.67,47,1,1.01,clear sky
18,18,Pontal Do Parana,BR,-25.6533,-48.5128,76.98,74,61,6.33,broken clouds
26,26,Praya,CV,14.9215,-23.5087,81.14,61,75,13.80,broken clouds
31,31,Atuona,PF,-9.8000,-139.0333,77.32,80,30,19.84,light rain

In [5]:
# 4a. Determine if there are any empty rows.
temp_criteria_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = temp_criteria_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,74.91,76,100,15.12,light rain
1,1,Sabang,ID,5.8933,95.3214,82.83,81,100,21.65,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,73.56,83,20,8.05,few clouds
6,6,Isangel,VU,-19.5500,169.2667,73.81,84,12,8.05,few clouds
11,11,Butaritari,KI,3.0707,172.7902,81.27,79,26,13.80,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Sattahip,TH,12.6664,100.9007,80.69,78,40,5.75,scattered clouds
681,681,Erandio,ES,43.3079,-2.9450,87.17,66,0,13.00,clear sky
685,685,Talara,PE,-4.5772,-81.2719,72.36,64,0,20.71,clear sky
686,686,Chitrakonda,IN,18.1167,82.0833,71.96,99,100,3.40,overcast clouds
688,688,Kabinda,CD,-6.1333,24.4833,71.10,32,16,3.15,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,74.91,light rain,-23.1203,-134.9692,
1,Sabang,ID,82.83,overcast clouds,5.8933,95.3214,
2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,
6,Isangel,VU,73.81,few clouds,-19.5500,169.2667,
11,Butaritari,KI,81.27,scattered clouds,3.0707,172.7902,
12,Turbat,PK,85.01,light rain,26.0023,63.0440,
15,Albany,US,78.67,clear sky,42.6001,-73.9662,
18,Pontal Do Parana,BR,76.98,broken clouds,-25.6533,-48.5128,
26,Praya,CV,81.14,broken clouds,14.9215,-23.5087,
31,Atuona,PF,77.32,light rain,-9.8000,-139.0333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
 
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,74.91,light rain,-23.1203,-134.9692,People ThankYou
1,Sabang,ID,82.83,overcast clouds,5.8933,95.3214,Hotel Citra
2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Isangel,VU,73.81,few clouds,-19.5500,169.2667,Tanna Lodge
11,Butaritari,KI,81.27,scattered clouds,3.0707,172.7902,Isles Sunset Lodge

In [10]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,74.91,light rain,-23.1203,-134.9692,People ThankYou
1,Sabang,ID,82.83,overcast clouds,5.8933,95.3214,Hotel Citra
2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Isangel,VU,73.81,few clouds,-19.5500,169.2667,Tanna Lodge
11,Butaritari,KI,81.27,scattered clouds,3.0707,172.7902,Isles Sunset Lodge

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))